name: Update gist with WakaTime stats
on:
  push:
  schedule:
    - cron: "0 0 * * *"
jobs:
  update-gist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Update gist
        uses: matchai/waka-box@master
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          GIST_ID: 9a0cbabab2318203e4f7fc3f817f65ac
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
